body {
    margin-left: 5%;
    margin-right: 5%;
    font-family: Arial, Helvetica, sans-serif;
}

h1.toptitle {
    color: red;
    text-align: center;
    text-decoration: none;
    border: 1px solid red; 
    border-radius: 20px;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
}

li a:hover {
    background-color: rgb(48, 48, 48);
}
    
img.topimmage {
    float: right;
}
    
table {
    margin-left:auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 60%; 
}
    
table, th, td {
    border: 1px solid grey;
    text-align: left;
    padding: 15px;
    font-family: Arial;
}
    
tr.toptable {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

th {
    text-align: center;
    }
    
img {
    width:250px;
    height:170px;
    margin-left:15px;
    border: 1px solid grey;
    padding: 5px;
    border-radius: 8px;
}
    

